@model IEnumerable<AplicacionNomina.Models.Reportes>
@{
    ViewBag.Title = "Index";
}

<div class="container py-4">
    <h2 class="mb-4 text-center">Consulta y descarga de reportería</h2>
    <div class="row mb-3">
        <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex justify-content-md-start justify-content-center">
            @using (Html.BeginForm("LeerCargos", "Reportes", FormMethod.Post))
            {
                <button type="submit" class="btn btn-primary w-100 w-md-auto" id="mostrar">Nómina</button>
            }
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-md-end justify-content-center">
            @using (Html.BeginForm("DescargarExcel", "Reportes", FormMethod.Post))
            {
                <button type="submit" class="btn btn-success w-100 w-md-auto" id="descargar">Descargar Excel</button>
            }
        </div>
    </div>

    @if (ViewBag.Nomina != null)
    {
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Usuario</th>
                        <th>Salario</th>
                        <th>Fecha Ingreso</th>
                        <th>Rol</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Nomina)
                    {
                        <tr>
                            <td>@item.usuario</td>
                            <td>@item.salaraio</td>
                            <td>@item.fecha</td>
                            <td>@item.cargo</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>