@{
    ViewBag.Title = "About";
}
<div class="d-flex flex-column min-vh-100">
    <main aria-labelledby="title" class="container flex-grow-1 d-flex align-items-center justify-content-center">
        <div class="row justify-content-center w-100">
            <div class="col-12 col-md-8 col-lg-6">
                <h2 id="title" class="mb-3 text-center">@ViewBag.Title.</h2>
                <h3 class="mb-4 text-center">@ViewBag.Message</h3>
                <p class="mb-0 text-center">Use this area to provide additional information.</p>
            </div>
        </div>
    </main>
</div>