@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/Content/InicioPanelControl.css" />
}


<h2 class="mb-4">Panel de Control del Sistema</h2>

<div class="row">

    <!-- Gestión de Empleados -->
    <div class="col-md-4 mb-4">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Gestión de Empleados</h5>
                <p class="card-text">Crear, editar y consultar empleados.</p>
                @Html.ActionLink("Ingresar", "Index", "Empleado", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <!-- Gestión de Departamentos -->
    <div class="col-md-4 mb-4">
        <div class="card border-success h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Gestión de Departamentos</h5>
                <p class="card-text">Administrar departamentos y áreas.</p>
                @Html.ActionLink("Ingresar", "Index", "Departamentos", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>

    <!-- Gestión de Salarios -->
    <div class="col-md-4 mb-4">
        <div class="card border-danger h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Gestión de Salarios</h5>
                <p class="card-text">Registrar y consultar historial salarial.</p>
                @Html.ActionLink("Ingresar", "Index", "Salario", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>

    <!-- Reportes y Estadísticas -->
    <div class="col-md-4 mb-4">
        <div class="card border-primary h-100">
            <div class="card-body text-center">
                <h5 class="card-title">Reportes y Estadísticas</h5>
                <p class="card-text">Generar informes de nómina y estructura.</p>
                @Html.ActionLink("Ingresar", "Index", "Reportes", null, new { @class = "btn btn-outline-primary" })
            </div>
        </div>
    </div>

</div>
