@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewBag.Title = "Settings";
}
<div class="container py-4">
    <h2 class="mb-4 text-center">Configuración</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="mb-3">
                <label class="form-label text-dark">Tema visual</label>
                <select class="form-select" name="Tema">
                    <option value="claro">Claro</option>
                    <option value="oscuro">Oscuro</option>
                    <option value="pastel">Pastel</option>
                </select>
            </div>
        </div>
    </div>
</div>