@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
    ViewBag.Title = "Settings";
}
<h2>Configuración</h2>
<div class="mb-3">
    <label class="form-label" style="color:#5A3E1B;">Tema visual</label>
    <select class="form-select" name="Tema">
        <option value="claro">Claro</option>
        <option value="oscuro">Oscuro</option>
        <option value="pastel">Pastel</option>
    </select>
</div>


